:root {
    --white: white;
    --black: black;
}

.heading {
    color: #006a80;
    margin-bottom: 0;
    font-size: 80px;
}

.heading-2 {
    color: #006a80;
}

.heading-3 {
    color: #006a80;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

.text-1 {
    margin-top: 10px;
}

.text-2 {
    color: #006a80;
}


.body {
    background-color: #f3f3f3;
    border: 1px solid gray;
    height: 200px;
}

.content-area {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 70%;
    height: 22%;
    max-height: 100%;
    display: flex;
    position: center;
}

.middle {
    flex-flow: column;
    flex: 1;
    align-items: stretch;
    max-width: 62%;
    padding: 10px;
    display: flex;
}

